.nav-auth__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-address {
  color: #ffffff;
  transition: color var(--transition-dur-and-func);
}

.nav-auth__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav-auth__icon {
  fill: currentColor;
  margin-right: 10px;
}
